* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans Condensed',
        sans-serif;
}



.container {
    /* background-color: rgb(26, 26, 26); */
    animation-name: changeBackground;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

.center {
    width: 700px;
    margin: 0 auto;
    min-height: 100vh;
    padding-top: 100px;
}

.color {
    margin: 0 auto;
    padding: 40px;
    height: 530px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0x 0px 30px #1c1c1c;
}

input {
    background: transparent;
    /* color: whitesmoke; */
    width: 300px;
    color: #6a5467;
    font-size: 25px;
    border-radius: 5px;
    padding-left: 5px;
    border: 2px solid #5a4857;
}

label {
    display: block;
    font-weight: 700;
    font-size: 35px;
    color: #6a5467;
}

button {
    width: 300px;
    height: 50px;
    margin-top: 20px;
    border: none;
    background-color: #6a5467;
    color: #fff;
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
}

@keyframes changeBackground {
    0% {
        background-color: #6a5467;
        /* opacity: 70%; */
    }

    25% {
        background-color: #5a4857;
        /* opacity: 70%; */
    }

    50% {
        background-color: #4f3f4d;
        /* opacity: 70%; */
    }

    75% {
        background-color: #5a4857;
        /* opacity: 70%; */
    }

    100% {
        background-color: #6a5467;
        /* opacity: 70%; */
    }
}

.ready {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #5a4857;
}

.result {
    font-weight: 700;
    font-size: 30px;
    color: #6a5467;
}

hr {
    margin-top: 10px;
}